<h1>新規投稿</h1>

<%= form_with(model: @reco, local: true, class: 'new-post-form') do |form| %>
  <% if @reco.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reco.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% @reco.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title, 'タイトル' %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :content, '内容' %>
    <%= form.text_area :content, class: 'form-control' %>
  </div>

    <div class="field">
    <%= form.label :image,'画像' %>
    <%= form.file_field :image %>
  </div>

  <div class="actions">
    <%= form.submit '投稿する', class: 'btn btn-primary' %>
  </div>
<% end %>

<%= link_to '戻る', recos_path, class: 'back-link' %>