<div class="blog-post-detail">
  <h1 class="blog-title"><%= @reco.title %></h1>

  <div class="blog-meta">
    <span class="date">投稿日: <%= @reco.created_at.strftime('%Y年%m月%d日') %></span>
    <% if @reco.updated_at != @reco.created_at %>
      <span class="date">更新日: <%= @reco.updated_at.strftime('%Y年%m月%d日') %></span>
    <% end %>
  </div>

  <div class="blog-content">
    <%= simple_format(@reco.content) %>
  </div>

<% if @reco.images.attached? %>
  <% @reco.images.each do |image| %>
    <%= image_tag image.variant(resize_to_fill: [500, 300]), class: 'reco-image' %>
  <% end %>
<% end %>

   <% if user_signed_in? && current_user.id == @reco.user_id %>
  <div class="actions">
    <%= link_to '編集', edit_reco_path(@reco), class: 'btn btn-edit' %>
<%= link_to '削除', reco_path(@reco), method: :delete, data: { turbo_method: :delete, turbo_confirm: '本当に削除しますか？' }, class: 'btn btn-delete' %>    <%= link_to '一覧に戻る', recos_path, class: 'btn btn-back' %>
  </div>
  <% end %>
    <div class="container">
    <% if user_signed_in? %>
      <%= form_with(model: [@reco, @comment], local: true) do |form| %>
        <%= form.text_area :text, placeholder: "コメントする", rows: "2" %>
        <%= form.submit "SEND" %>
      <% end %>
    <% else %>
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
    <% end %>
        <div class="comments">
      <h4>＜コメント一覧＞</h4>
      <% @comments.each do |comment| %>
        <p>
          <strong><%= link_to comment.user.nickname, user_path(comment.user)%>：</strong>
          <%= comment.text %>
        </p>
      <% end %>
    </div>

  </div>
</div>

