<!DOCTYPE html>
<html>
  <head>
    <title>Recoreco</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <header>
    <%= link_to 'RE:cord',root_path ,class:"headtitle"%>
    <nav>
            <% if user_signed_in? %>
          <div class="user_nav grid-6">
        <span class="username"> <%= current_user.nickname %>様</span>
            <%= link_to "ログアウト", destroy_user_session_path, data: { turbo_method: :delete },class: "post" %>
            <%= link_to "投稿する", new_reco_path, class: "post" %>
          </div>
        <% else %>
          <div class="grid-6">
            <%= link_to "ログイン", new_user_session_path, class: "post" %>
            <%= link_to "新規登録", new_user_registration_path, class: "post" %>
          </div>
        <% end %>
    </nav>


  </header>

  <main>
    <%= yield %>
  </main>

  <footer>
    <p>&copy; <%= Time.current.year %> シンプルブログ. All rights reserved.</p>
  </footer>
  </body>
</html>
